# Analysis

_Importing Libraries:_

In [1]:
import pandas as pd
import numpy as np

*_Reading in the data:_*

Let's read in the cleaned data and take a look at the first 10 rows to get an idea of what it looks like inside.

In [2]:
# Using pd.read_csv() to read in the cleaned market data set, then showing the first 10 rows using .head() to get an idea of what's inside
market_data_df = pd.read_csv("market_data_cleaned.csv")

market_data_df.head(10)

,Date,SP500_Close,SP500_High,SP500_Low,SP500_Open,SP500_Volume,Nasdaq_Close,Nasdaq_High,Nasdaq_Low,Nasdaq_Open,...,DowJones_High,DowJones_Low,DowJones_Open,DowJones_Volume,10Y_Treasury_Yield,Gold_Close,Gold_High,Gold_Low,Gold_Open,Gold_Volume
0,2010-01-12,1136.219971,1143.810059,1131.770020,1143.810059,4.716160e+09,2282.310059,2298.850098,2272.699951,2297.280029,...,10663.080078,10568.839844,10662.860352,256050000.0,3.74,1128.900024,1157.199951,1127.199951,1128.900024,51.0
1,2010-01-13,1145.680054,1148.400024,1133.180054,1137.310059,4.170360e+09,2307.899902,2313.030029,2274.120117,2289.459961,...,10709.259766,10614.490234,10628.089844,202810000.0,3.80,1136.400024,1136.400024,1121.000000,1136.400024,58.0
2,2010-01-14,1148.459961,1150.410034,1143.800049,1145.680054,3.915200e+09,2316.739990,2322.560059,2303.290039,2303.310059,...,10723.769531,10666.860352,10680.160156,201320000.0,3.76,1142.599976,1145.900024,1132.800049,1137.000000,81.0
3,2010-01-15,1136.030029,1147.770020,1131.390015,1147.719971,4.758730e+09,2287.989990,2322.540039,2279.199951,2316.979980,...,10709.940430,10561.059570,10706.990234,362930000.0,3.70,1130.099976,1133.400024,1127.199951,1132.800049,50.0
4,2010-01-19,1150.229980,1150.449951,1135.770020,1136.030029,4.724830e+09,2320.399902,2320.399902,2290.679932,2291.020020,...,10729.889648,10591.969727,10608.370117,192150000.0,3.73,1139.699951,1139.699951,1130.500000,1139.699951,22.0
5,2010-01-20,1138.040039,1147.949951,1129.250000,1147.949951,4.810560e+09,2291.250000,2304.469971,2268.679932,2304.310059,...,10719.919922,10517.299805,10719.690430,203270000.0,3.68,1112.300049,1133.000000,1109.800049,1123.300049,28.0
6,2010-01-21,1116.479980,1141.579956,1114.839966,1138.680054,6.874290e+09,2265.699951,2308.979980,2259.820068,2298.229980,...,10614.940430,10374.690430,10603.910156,304290000.0,3.62,1102.699951,1107.500000,1090.199951,1102.699951,99.0
7,2010-01-22,1091.760010,1115.489990,1090.180054,1115.489990,6.208650e+09,2205.290039,2262.270020,2200.370117,2255.760010,...,10389.580078,10157.639648,10389.580078,323620000.0,3.62,1089.199951,1095.400024,1083.000000,1089.199951,58.0
8,2010-01-25,1096.780029,1102.969971,1092.400024,1092.400024,4.481390e+09,2210.800049,2223.219971,2201.169922,2220.290039,...,10256.870117,10171.769531,10175.099609,215330000.0,3.66,1095.199951,1095.199951,1095.199951,1095.199951,8.0
9,2010-01-26,1092.170044,1103.689941,1089.859985,1095.800049,4.731910e+09,2203.729980,2227.889893,2195.439941,2203.439941,...,10285.129883,10155.599609,10195.349609,217300000.0,3.65,1097.900024,1097.900024,1097.900024,1097.900024,4.0

In [3]:
# Using pd.read_csv() to read in the cleaned meeting date data set, then showing the first 10 rows using .head() to get an idea of what's inside
meetings_df = pd.read_csv("meeting_dates.csv")

meetings_df.head(10)

  meeting_start meeting_end
0    2010-01-26  2010-01-27
1    2010-03-16  2010-03-16
2    2010-04-27  2010-04-28
3    2010-06-22  2010-06-23
4    2010-08-10  2010-08-10
5    2010-09-21  2010-09-21
6    2010-11-02  2010-11-03
7    2010-12-14  2010-12-14
8    2011-01-25  2011-01-26
9    2011-03-15  2011-03-15

## Part I: Descriptive Analysis

_Objective:_

Identify overarching trends and variations in price movements, volatility, and trading activity in the days surrounding Federal Reserve meetings.

_Approach:_
 - Calculate daily percentage changes in asset prices to observe trends.
 - Compute key statistical measures (mean, median, standard deviation, and range) for:
    1. Pre-meeting window: 15 days before the meeting.
    2. Meeting day: The day of the meeting.
    3. Post-meeting window: 15 days after the meeting.   
 - Compare these measures across different asset classes (equities, bonds, forex, gold).

First, let's create columns for daily percentage change in asset prices (for the market data data frame):

In [4]:
# Go through the column names
for column in market_data_df:

    # If "_Close" is in the column name, save the asset name
    if "_Close" in column:
        asset_name = column[:-6]

        # Create a new percentage change column using the asset name and the close and open values of the asset for the date
        close_values = market_data_df[asset_name + "_Close"]
        open_values = market_data_df[asset_name + "_Open"]
        percantage_change_column_name = asset_name + "_Daily_%_Change"
        market_data_df[percantage_change_column_name] = (close_values - open_values) / open_values * 100

# Show the data frame with the new columns with .head()
market_data_df.head()

,Date,SP500_Close,SP500_High,SP500_Low,SP500_Open,SP500_Volume,Nasdaq_Close,Nasdaq_High,Nasdaq_Low,Nasdaq_Open,...,10Y_Treasury_Yield,Gold_Close,Gold_High,Gold_Low,Gold_Open,Gold_Volume,SP500_Daily_%_Change,Nasdaq_Daily_%_Change,DowJones_Daily_%_Change,Gold_Daily_%_Change
0,2010-01-12,1136.219971,1143.810059,1131.770020,1143.810059,4.716160e+09,2282.310059,2298.850098,2272.699951,2297.280029,...,3.74,1128.900024,1157.199951,1127.199951,1128.900024,51.0,-0.663579,-0.651639,-0.333875,0.000000
1,2010-01-13,1145.680054,1148.400024,1133.180054,1137.310059,4.170360e+09,2307.899902,2313.030029,2274.120117,2289.459961,...,3.80,1136.400024,1136.400024,1121.000000,1136.400024,58.0,0.735947,0.805428,0.495665,0.000000
2,2010-01-14,1148.459961,1150.410034,1143.800049,1145.680054,3.915200e+09,2316.739990,2322.560059,2303.290039,2303.310059,...,3.76,1142.599976,1145.900024,1132.800049,1137.000000,81.0,0.242643,0.583071,0.284543,0.492522
3,2010-01-15,1136.030029,1147.770020,1131.390015,1147.719971,4.758730e+09,2287.989990,2322.540039,2279.199951,2316.979980,...,3.70,1130.099976,1133.400024,1127.199951,1132.800049,50.0,-1.018536,-1.251197,-0.909124,-0.238354
4,2010-01-19,1150.229980,1150.449951,1135.770020,1136.030029,4.724830e+09,2320.399902,2320.399902,2290.679932,2291.020020,...,3.73,1139.699951,1139.699951,1130.500000,1139.699951,22.0,1.249963,1.282393,1.103464,0.000000

Next, let's focus on just categorizing the data as being in before, during or after meeting windows:

In [10]:
# Changing date columns in data frames to pandas datetime
market_data_df["Date"] = pd.to_datetime(market_data_df["Date"])
meetings_df["meeting_start"] = pd.to_datetime(meetings_df["meeting_start"])
meetings_df["meeting_end"] = pd.to_datetime(meetings_df["meeting_end"])

# Creating empty master lists of of pre, post, and during meeting window dates
pre_meeting_window_dates = []
meeting_dates = []
post_meeting_window_dates = []

# Going through the data frame of meetings
for meetings_df_index in range(len(meetings_df)):    
    meeting = meetings_df.iloc[meetings_df_index]

    # Getting the date range of each window.
    pre_meeting_window = pd.date_range(start = meeting["meeting_start"] - pd.Timedelta("16 days"), end = meeting["meeting_start"] - pd.Timedelta("1 day"))
    meeting_window = pd.date_range(start = meeting["meeting_start"], end = meeting["meeting_end"])
    post_meeting_window = pd.date_range(start = meeting["meeting_end"] + pd.Timedelta("1 days"), end = meeting["meeting_end"] + pd.Timedelta("16 day"))
    
    # Appending each date to the master list of pre, post, and during meeting window dates.
    for date in pre_meeting_window:
        pre_meeting_window_dates.append(date)
    for date in meeting_window:
        meeting_dates.append(date)
    for date in post_meeting_window:
        post_meeting_window_dates.append(date)
        
# Selecting new data frames for pre, post, and during meeting window dates.
market_data_pre_meetings_df = market_data_df[market_data_df["Date"].isin(pre_meeting_window_dates)]
market_data_post_meetings_df = market_data_df[market_data_df["Date"].isin(post_meeting_window_dates)]
market_data_during_meetings_df = market_data_df[market_data_df["Date"].isin(meeting_dates)]

Finally, let's calculate some descriptive statistics:

Let's take a look at mean, median, standard deviation, and range for percentage change in asset price accross the different asset classes.

In [12]:
# Create new data frames for percentage change descriptive statistics
pctg_change_means_df = pd.DataFrame()
pctg_change_medians_df = pd.DataFrame()
pctg_change_ranges_df = pd.DataFrame()
pctg_change_stds_df = pd.DataFrame()

# Empty list to save the asset names for the index, as well as lists for mean, median, standard deviation, and range
asset_names = []

means_before = []
means_during = []
means_after = []

medians_before = []
medians_during = []
medians_after  = []

stds_before = []
stds_during = []
stds_after  = []

ranges_before = []
ranges_during = []
ranges_after  = []

# Go through the column names in market_data_df:
for column in market_data_df:

    # Perform operations on just the percentage change columns
    if "_Daily_%_Change" in column:

        # Save asset name
        asset_name = column[:-len("_Daily_%_Change")]
        asset_names.append(asset_name)
        
        # Get mean, median, standard deviation, and range for dates before, during, and after meetings:
        means_before.append(np.mean(market_data_pre_meetings_df[column]))
        means_during.append(np.mean(market_data_during_meetings_df[column]))
        means_after.append(np.mean(market_data_post_meetings_df[column]))

        medians_before.append(np.median(market_data_pre_meetings_df[column]))
        medians_during.append(np.median(market_data_during_meetings_df[column]))
        medians_after.append(np.median(market_data_post_meetings_df[column]))

        stds_before.append(np.std(market_data_pre_meetings_df[column]))
        stds_during.append(np.std(market_data_during_meetings_df[column]))
        stds_after.append(np.std(market_data_post_meetings_df[column]))

        ranges_before.append(np.max(market_data_pre_meetings_df[column]) - np.min(market_data_pre_meetings_df[column]))
        ranges_during.append(np.max(market_data_during_meetings_df[column]) - np.min(market_data_pre_meetings_df[column]))
        ranges_after.append(np.max(market_data_post_meetings_df[column]) - np.min(market_data_pre_meetings_df[column]))
        
    
# Create and show the final data frames
pctg_change_means_df["Mean Before"] = means_before
pctg_change_means_df["Mean During"] = means_during
pctg_change_means_df["Mean After"] = means_after
pctg_change_means_df.index = asset_names

pctg_change_medians_df["Median Before"] = medians_before
pctg_change_medians_df["Median During"] = medians_during
pctg_change_medians_df["Median After"] = medians_after
pctg_change_medians_df.index = asset_names

pctg_change_stds_df["Std Before"] = stds_before
pctg_change_stds_df["Std During"] = stds_during
pctg_change_stds_df["Std After"] = stds_after
pctg_change_stds_df.index = asset_names

pctg_change_ranges_df["Range Before"] = ranges_before
pctg_change_ranges_df["Range During"] = ranges_during
pctg_change_ranges_df["Range After"] = ranges_after
pctg_change_ranges_df.index = asset_names

display(pctg_change_means_df)
display(pctg_change_medians_df)
display(pctg_change_stds_df)
display(pctg_change_ranges_df)

          Mean Before  Mean During  Mean After
SP500        0.015477     0.055214    0.014290
Nasdaq      -0.016611     0.054229    0.015231
DowJones     0.030060     0.044589    0.017218
Gold        -0.018045     0.021693   -0.038147

          Median Before  Median During  Median After
SP500          0.046441       0.012019      0.045840
Nasdaq         0.070958       0.070569      0.094823
DowJones       0.060320       0.044182      0.059989
Gold           0.000000       0.000000      0.000000

          Std Before  Std During  Std After
SP500       0.912141    0.960833   0.946458
Nasdaq      0.992277    1.031093   1.018405
DowJones    0.880922    0.875158   0.935509
Gold        0.819150    0.706016   0.923378

          Range Before  Range During  Range After
SP500        12.080924     11.262042    11.741898
Nasdaq       10.903032     10.318753    11.341017
DowJones     10.972881      9.425054    10.506445
Gold          8.621547      9.086513    10.590750

Interestingly, it seems that mean percentage changes in asset prices sort of "spike" during meetings. Median price increases before, during, and after across all assets seem to be higher than means (except gold), implying some rightward skew of daily price changes. Standard deviations also seem to be higher after meetings vs. before. Ranges do not seem to show exceptional trends except for gold ranges being higher after meetings vs. before.

Now, let's take a look at mean volume before, during and after meetings accross assets:

In [ ]:
for asset in asset_names: